<section id="homepageintro">
  <div class="col-md-12 text-center">

    <%=image_tag('freuder-logo.png',class: "img-circle") %>
    
    <h1>Freuder</h1>

    <%= link_to "auth/twitter", class: "btn btn-lg btn-default" do %>
    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Sign in with Twitter
    <% end %>

  </div><!--end_col-md-12-->
</section><!--end_#homepageintro-->